.titleclass {
  font-size: 24px;
  color: rgba(243, 236, 227, 1);
}

#button-dropdown {
  background-color: rgba(243, 236, 227, 1);
  color: rgba(14, 14, 40, 0.975);
  border: none;
  font-family: 'Ultra', serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.flexdiv {
  display: flex;
  justify-content: center;
  font-family: 'Ultra', serif;
  margin: 30px;
}

.card {
  background-color:rgba(243, 236, 227, 1) ;
}