.hero-background {
  background-color: rgba(14, 14, 40, 0.975);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#main-title {
  font-family: 'Ultra', serif;
  font-size: 85px;
  // margin-top: 50px;
  color: rgb(249, 225, 148);
}

#main-tagline {
  font-family: RomanaBT-Roman, Times New Roman, serif;
  font-size: 40px;
  color: ghostwhite;
  // margin-top: ;
}

.arrow {
  img {
    padding-top: 40px;
    width: 15%;
    margin-right: 60px;
  }
}

h3 {
  font-family: RomanaBT-Roman,
  Times New Roman,
  serif;
  font-size: 30px;
  color: ghostwhite;
  margin: 30px;
}

.button {
  background-color: rgba(243, 236, 227, 1);

}
