.navbar {
  font-family: 'Ultra', serif;
  background-color: rgba(243, 236, 227, 1);
}

.navbar-item {
  color: rgba(14, 14, 40, 0.975);
  background-color: rgba(243, 236, 227, 1);
}

.navbar-brand {
  flex-shrink: 1;
}

.navbar-burger {
  margin-top: 3.2rem;
}

.moon {
  img {
    width: 20%;
    min-width: 150px;
  }
}
